<div class="row d-flex align-items-center" style="height: 467px;">
  <div class="col-6">
    Make better coffee
  </div>
  <div class="col-6">
    <%= image_tag "rubytrain.webp", class: "d-block mx-lg-auto img-fluid", alt: "Bootstrap Themes", width: "700", height: "500", loading: "lazy" %>
  </div>
</div>
