<div class="container-fluid p-0">
  <header>
    <%= render "nav" %>
  </header>
  <main class="main">
    <section class="intro">
      <div class="container p-0">
        <div class="d-flex">
          <div class="col-6">
            <h1 class="intro__header">
              Make better code
              <i class="bi bi-code text-danger"></i>
            </h1>
            <p class="intro__header-subtext">
              why learn how to code?
            </p>
          </div>
          <div class="col-6">
            <%= image_tag "rubytrain.webp", height: "323px" %>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
